<div class="panel panel-default" ng-controller="bookController as bookCtrl">
	    <div class="panel-heading">Books page</div>
	    <div class="panel-body">
   		{{bookCtrl.test}}
   		<div ng-hide="bookCtrl.isHidden">
        	<h3><span>Books table</span></h3>
        	<table class="table">
        		<tr>
        			<th>{{'title' | uppercase}}</th>
        			<th>{{'genre' | uppercase}}</th>
        			<th>{{'release year' | uppercase}}</th>
        		</tr>
        		<tr ng-repeat="book in bookCtrl.books">
        			<td ng-show="bookCtrl.editIsHidden">{{book.bookTitle}} </td>
							<td ng-hide="bookCtrl.editIsHidden"> <input ng-model="book.bookTitle"/></td>

        			<td ng-show="bookCtrl.editIsHidden">{{book.genre}}</td>
							<td ng-hide="bookCtrl.editIsHidden"> <input  ng-model="book.genre"/></td>

        			<td ng-show="bookCtrl.editIsHidden">{{book.yearPublished}}</td>
							<td ng-hide="bookCtrl.editIsHidden"> <input ng-model="book.yearPublished"/></td>


							<td><button class="btn" ng-click="bookCtrl.deleteBook(book)">Delete</td>
							<td><button class="btn" ng-show="bookCtrl.editIsHidden" ng-click="bookCtrl.hideEdit()">Edit</button></td>
							<td><button class="btn" ng-hide="bookCtrl.editIsHidden" ng-click="bookCtrl.hideEditAndReload()">Cancel</button></td>
							<td><button class="btn" ng-hide="bookCtrl.editIsHidden" ng-click="bookCtrl.editBook()">Confirm</button></td>
        		</tr>
						<tr ng-hide="bookCtrl.addIsHidden">
							<td><input ng-model="bookCtrl.bookData.bookTitle"/></td>
							<td><input ng-model="bookCtrl.bookData.genre"/></td>
							<td><input ng-model="bookCtrl.bookData.yearPublished"/></td>
							<td><button class="btn" ng-click="bookCtrl.addBook()">Confirm</td>
						</tr>
        	</table>
        </div>
        <button class="btn" ng-hide="bookCtrl.isHidden" ng-click="bookCtrl.hideTable()">Hide books</button>
				<button class="btn" ng-show="bookCtrl.isHidden" ng-click="bookCtrl.hideTable()">Show books</button>
				<button class="btn" ng-show="bookCtrl.addIsHidden" ng-click="bookCtrl.hideAdd()">Add book</button>
				<button class="btn" ng-hide="bookCtrl.addIsHidden" ng-click="bookCtrl.hideAdd()">Cancel</button>
	</div>
</div>
